<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t4cloud.t.system.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sysPermissionResultMap" type="com.t4cloud.t.system.entity.SysPermission">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="open_type" property="openType"/>
        <result column="component" property="component"/>
        <result column="menu_type" property="menuType"/>
        <result column="perms" property="perms"/>
        <result column="sort_no" property="sortNo"/>
        <result column="icon" property="icon"/>
        <result column="description" property="description"/>
        <result column="hidden" property="hidden"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 获取登录用户拥有的权限 -->
    <select id="queryByUsername" parameterType="Object" resultMap="sysPermissionResultMap">
		   SELECT p.*
		   FROM  sys_permission p
		   WHERE exists(
		   		select a.id from sys_role_permission a
		   		join sys_role b on a.role_id = b.id
		   		join sys_user_role c on c.role_id = b.id
		   		join sys_user d on d.id = c.user_id
		   		where p.id = a.permission_id AND d.username = #{username,jdbcType=VARCHAR}
		   )
		   and p.status = 1
		   order by p.sort_no ASC
	</select>

</mapper>
