<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t4cloud.t.user.mapper.ExampleCommonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="exampleCommonResultMap" type="com.t4cloud.t.user.entity.ExampleCommon">
        <id column="id" property="id"/>
        <result column="str" property="str"/>
        <result column="txt" property="txt"/>
        <result column="num" property="num"/>
        <result column="query_date" property="queryDate"/>
        <result column="query_date_time" property="queryDateTime"/>
        <result column="query_time" property="queryTime"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


</mapper>
