@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  /*font-family: “Microsoft YaHei” ! important;*/
  font-family: 'Microsoft Yahei', '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana;
  color: #666;
  background: #fafafa;
  letter-spacing: 1px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
i,
b,
em,
strong,
dl,
dd,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

ol,
ul {
  list-style-type: none;
}

img,
input {
  outline: none;
  vertical-align: middle;
}

a {
  color: #343434;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #0791ef;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.red {
  color: #f44b4b;
}

.mainColor {
  color: #0791ef;
}

.whiteColor {
  color: #FFFFFF;
}

.darkGrayColor {
  color: #e4e4e4;
}

.hidden {
  display: none;
}

#app,
#appWrap {
  padding: 0;
  margin: 0;
  height: 100%;
  /* background-color: #fff; */
  /* max-width: 500px; */
  /* margin: 0 auto; */
}

@media screen and (min-width: 481px) {
  /* ::-webkit-scrollbar-track-piece {
    background-color: #fff;
  } */

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }
}